p{
    font-family: Roboto, Arial;
    margin-top: 0;
    margin-bottom: 0;
}

body{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 80px;
}